---
const { class: className, link, title } = Astro.props;
---

<a
  href={link}
  title={title}
  class={` bg-lavanda py-3 px-5 font-medium rounded-full flex items-center justify-center gap-x-1 hover:bg-lavanda-light transition cursor-pointer shadow-2xl shadow-lavanda/50 hover:shadow-lavanda/80 transition ease-in-out duration-300 ${className}`}
>
  <slot />
</a>
