---
// Import icons
import Location from "../icons/Location.astro";
import Certificate from "../icons/Certificate.astro";
import Calendar from "../icons/Calendar.astro";

const { t } = Astro.props;

const EDUCATION = [
  {
    title: t.education[0].title,
    institution: t.education[0].institution,
    year: "2024",
    icon: Location,
  },
  {
    title: t.education[1].title,
    institution: t.education[1].institution,
    year: "2025",
    icon: Certificate,
  },
];
---

<div class="flex flex-col gap-y-10">
  {
    EDUCATION.map((education) => (
      <section class="flex flex-col gap-y-3 ">
        <h1 class="font-semibold text-xl">
          <span>{education.title}</span>
          <span class="text-lavanda">
            {education.institution}
          </span>
        </h1>
        <div class="flex items-center gap-x-2 text-white/30 font-medium">
          <Calendar class="size-4" />
          {education.year}
        </div>
        {/* <span class="text-white/60 flex flex-row items-center">
          {education.description}
        </span> */}
      </section>
    ))
  }
</div>
