---
// Icons
import React from "../icons/tech/React.astro";
import Angular from "../icons/tech/Angular.astro";
import TypeScript from "../icons/tech/TypeScript.astro";
import HTML from "../icons/tech/HTML.astro";
import JavaScript from "../icons/tech/JavaScript.astro";
import CSS from "../icons/tech/CSS.astro";
import NET from "../icons/tech/NET.astro";
import Git from "../icons/tech/Git.astro";
import CSharp from "../icons/tech/CSharp.astro";
import Azure from "../icons/tech/Azure.astro";
import MySQL from "../icons/tech/MySQL.astro";
import SQL from "../icons/tech/SQL.astro";

const TECH = [
  {
    name: "React",
    icon: React,
  },
  {
    name: "Angular",
    icon: Angular,
  },
  {
    name: "TypeScript",
    icon: TypeScript,
  },
  {
    name: "CSS3",
    icon: CSS,
  },
  {
    name: "HTML5",
    icon: HTML,
  },
  {
    name: "JavaScript",
    icon: JavaScript,
  },
  {
    name: "C#",
    icon: CSharp,
  },
  {
    name: ".NET",
    icon: NET,
  },
  {
    name: "Git",
    icon: Git,
  },
  
  {
    name: "Azure DevOps",
    icon: Azure,
  },
  {
    name: "MySQL",
    icon: MySQL,
  },
  {
    name: "Microsoft SQL Server",
    icon: SQL,
  },
];
---

<div class="border-2 border-white/10 flex p-3">
  <div class="flex flex-wrap justify-center gap-3 rounded">
    {
      TECH.map((tech) => (
        <div class="flex relative group  bg-white/10 py-3 lg:w-[15%]  w-[30%] items-center rounded justify-center hover:bg-white/15 transition">
          <div class="absolute rounded-full w-16 h-16 opacity-0 bg-lavanda blur-lg group-hover:opacity-50 transition duration-700"/>
          <div class="relative flex flex-col items-center  ">
            <tech.icon class="lg:size-8 size-10 mb-5" />
            <p class="text-xs text-center">{tech.name}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
