---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Supports weights 100-900
import "@fontsource-variable/dm-sans";

const { lang, t } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="I'm Fernanda, a passionate frontend developer with experience in crafting innovative web interfaces. Specializing in HTML, CSS, and JavaScript, with expertise in frameworks like React with Redux. On my site, you'll find examples of my work and featured projects. Connect with me for collaborations or just to chat about technology and web design!"/>
    <meta name="keywords" content="frontend, frontend developer, HTML, CSS, JavaScript, React, Redux, Tailwind">
    <meta name="author" content="Fernanda Gonzalez">

    <link rel="me" href="https://www.linkedin.com/in/fernanda-gonz%C3%A1lez-mu%C3%B1oz-37084b199/" type="text/html">
    <link rel="me" href="https://github.com/Keikooh" type="text/html">

    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{t['page-title']}</title>
  </head>
  <body class="select-none">
    <div class="fixed left-0 top-0 -z-10 h-full w-full">
      <div
        class="absolute top-0 z-[-2] h-screen w-screen bg-[#10101a] bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
      >
      </div>
    </div>

    <div class="relative mx-auto h-screen w-full">
      <Header lang={lang} t={t}/>
      <slot/>
      <Footer/>
    </div>

    
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "DM Sans Variable", sans-serif;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    background-color: #0a0a0a;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    color: #efefef;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: none;
    }
  }
</style>
